<!-- index.handlebars -->

<div id="particles-js">
    <div class="container home">

        <div class="welcome-blurb">
            <h1> Welcome to plogic!</h1>
            <p> The ultimate puzzle game to challenge the limits of your logic. </p>
        </div>

        <div class="home-actions">
            <h3><a href="./level-1"> &lt; tutorial &gt; </a> <a href="./playground"> &lt; playground &gt; </a> </h3>
            <p> or <a href="./sign-up"><u>signup</u></a>/<a href="./login"><u>login</u></a> to save progress & creations</p>
        </div>
    </div>
</div>
