<!-- index.handlebars -->
<div class="container home">
    <h1><a href="./symbols">Demo</a></h1>

    <div class = "welcome-blurb">
        <img src="public/css/images/welcome-blurb.svg">
        <h1> Welcome to plogic!</h1>
        <p> The ultimate puzzle game to challenge the limits of your logic. </p>
    </div>

    <div class = "home-actions">
        <h3><a href="./symbols"> &lt; start &gt; </a></h3>
        <p> or <a href="./sign-up">signup</a>/<a href="./login">login</a> to save progress </p>
    </div>
</div>
