<div class="container playground">
    <div class="row">
        <div class="col-md-auto offset-md-3">
            <h1>Playground</h1>
            <p>Do as you please!</p>
        </div>
    </div>
</div>
<div>
    <canvas id="playgroundCanvas"></canvas>
    <script type="module" src="scripts/logic/playground.js"></script>
</div>
