<div id="playgroundContainer" class="container playground">
    <div class="row">
        <div class="col-md-xs offset-xs-3">
            <h1>Playground</h1>
            <h2>Directions:</h2>
            <h3>Adding a device to the canvas:</h3>
            <p class="text-justify">Pressing the ' ~ ' key on your keyboard (tilde key, also the ' ` ' key)
                will bring up a menu. Device categories can be selected by pressing the
                corresponding number on your keyboard. Devices in each category can be selected by
                pressing the key on your keyboard that corresponds to the letter next to the
                device you wish to place. Once you've pressed a key with a device entry,
                the menu will disappear and the device will hover over your mouse cursor.</p>
            <p class="text-justify">Click anywhere on the canvas to place a copy of the selected device. You can keep
                placing devices by clicking on other locations in the canvas, or press the ' Backspace ' button
                on your keyboard (on Apple computers, this is the ' Delete ' button) to unselect a device.</p>
            <p class="text-justify">While a device is selected, you can bring up the menu again with ' ~ ' if you wish to select a
                different device to place.</p>
            <h3>Interacting with devices on the canvas:</h3>
            <p class="text-justify">To move devices around the canvas, press and hold the mouse button while the cursor
                is hovering over the device you wish to move.</p>
            <p class="text-justify">To connect two devices together, click on a connector on one device (the
                tiny circles connected to the device by a black line), then click on a
                connector on another device. A wire will be run between the two connections.</p>
            <p class="text-justify">To cancel placing a wire, just click on an empty part of the canvas. You can also
                cut an existing wire by clicking on one of the connectors on either end, and then
                clicking on an empty space in the canvas.</p>
            <p class="text-justify">To toggle a switch simply click on it.</p>
            <h3>Removing devices from the canvas:</h3>
            <p class="text-justify">To remove a device from the canvas, press the 'Backspace' button (or on a Mac, the
                'Delete' button) while your mouse cursor is not holding or placing any devices. A red 'X'
                will appear over your cursor. Click on the devices you want to remove, and they will be erased.
                When you are done erasing devices, press the ' Backspace ' / ' Delete ' button again to exit
                erase mode - the red 'X' will disappear, and you can continue as normal.</p>
            <h3>Enjoy!</h3>
        </div>
    </div>
</div>
<div>
    <canvas id="playgroundCanvas"></canvas>
    <script type="module" src="scripts/logic/playground.js"></script>
</div>
