/* ---- reset ---- */ 
body{ 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif; 
  /* prevent scrolling */
  overflow: hidden;
} 

canvas{ 
  display: block; 
  vertical-align: bottom; 
} 

/* ---- particles.js container ---- */ 
#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #2a1034; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%;
  /* fixing errors */
  z-index: 0;
  left: 0;
  top: 0;
} /* ---- stats.js ---- */ 

.count-particles{ 
  background: #000022; 
  position: absolute; 
  top: 48px; 
  left: 0; 
  width: 80px; 
  color: #13E8E9; 
  font-size: .8em; 
  text-align: left; 
  text-indent: 4px; 
  line-height: 14px; 
  padding-bottom: 2px; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold; 
} 

.js-count-particles{ 
  font-size: 1.1em; 
} 

#stats, .count-particles{ 
  -webkit-user-select: none; 
  margin-top: 5px; 
  margin-left: 5px; 
} 

#stats{ 
  border-radius: 3px 3px 0 0; 
  overflow: hidden; 
} 

.count-particles{ 
  border-radius: 0 0 3px 3px; 
}

#myCanvas {
  z-index: 2;
  position: fixed;
  top: 30%;
  left: 25%;
}

/* ---------------------- fonts --------------------- */

/* Chiq */

@font-face {
  font-family: 'chiq-bold';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-bolditalic';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_bolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-black';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_black.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-blackitalic';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_blackitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-italic';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_italic.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-light';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_light.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-lightitalic';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_lightitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'chiq-regular';
  src: url('fonts/Chiq-FontZillion/Fonts/chiq_reduced_regular.ttf') format('truetype');
}

/* appsil */
@font-face {
  font-family: 'appsil-regular';
  src: url('fonts/Apparatus\ SIL-FontZillion/Fonts/appsilr.ttf') format('truetype');
}

@font-face {
  font-family: 'appsil-bolditalic';
  src: url('fonts/Apparatus\ SIL-FontZillion/Fonts/appsilbi.ttf') format('truetype');
}

@font-face {
  font-family: 'appsil-bold';
  src: url('fonts/Apparatus\ SIL-FontZillion/Fonts/charissil-b.ttf') format('truetype');
}

@font-face {
  font-family: 'appsil-italic';
  src: url('fonts/Apparatus\ SIL-FontZillion/Fonts/appsili.ttf') format('truetype');
}

/* -------------------- home page ---------------------- */
/* layout */
.home {
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 20%;
}

.home .welcome-blurb {
  margin-bottom: 20%;
}

/* text fonts and colors */
.home h1, .home h3 {
  font-family: 'chiq-bold';
}

.home h1 {
  font-size: 90px;
  color: #F0D8FA;
}

.home h3 {
  font-size: 50px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.home p {
  color: #D3C9D3;
  font-size: 20px;
  font-family: 'appsil-regular'
}


